// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/
/* Light Theme (default) */
:root {
  --ion-color-primary: #3880ff;
  --ion-color-secondary: #3dc2ff;
  --ion-color-background: #ffffff;
  --ion-color-text: #000000;
}

/* Dark Theme */
body.dark-theme {
  --ion-color-primary: #222428;
  --ion-color-secondary: #485460;
  --ion-color-background: #000000;
  --ion-color-text: #ffffff;
}
