.empty-state {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #666;

  ion-icon {
    font-size: 80px;
    color: #cbd5e1;
    margin-bottom: 16px;
  }

  h2 {
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--ion-color-dark);
  }
}